# Postgres
DB_USER=app
DB_PASSWORD=changeme
DB_NAME=db

# Keycloak
KC_ADMIN_USER=admin
KC_ADMIN_PASSWORD=changeme

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=changeme
MINIO_BUCKET_NAME=restaurant-bilder

# Vom Backend genutzt – intern (Docker-Netzwerk) vs. extern (Browser)
MINIO_ENDPOINT=http://minio:9000
MINIO_PUBLIC_URL=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=changeme
MINIO_REGION=us-east-1
